{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}

<h1>Bienvenue {{ app.user.pseudo }}!</h1>
<p>{{ app.user.email }}</p>

<button id="create-projet-button" onclick="toggleCreateCategoryForm()">Créer nouveau projet</button>

            <form action="{{ path('new_projet') }}" method="post" id="category-form">
                <textarea name="titre" required></textarea>
                <button type="submit">Valider</button>
                <button type="button" id="cancel-button" onclick="cancelCreateCategory()">Annuler</button>
            </form>


<h2>Mes projets</h2>
{% for projet in projets %}
    <div>
        <a href="{{ path('app_categorie', {'projetId': projet.id}) }}" >{{ projet.titre }}</a>
        
        <!-- Modifier Button for each project -->
        <button id="edit-button-{{ projet.id }}" onclick="toggleForm('edit-form-{{ projet.id }}')">Modifier</button>
        
        <!-- Edit Form for each project -->
        <form action="{{ path('edit_projet', {'projetId': projet.id}) }}" id="edit-form-{{ projet.id }}" method="post" style="display: none;">
            <textarea id="textarea-{{ projet.id }}" name="titre" required>{{ projet.titre }}</textarea>
            <button type="submit">Valider</button>
            <button type="button" onclick="cancelForm('edit-form-{{ projet.id }}')">Annuler</button>
        </form>

        <a href="{{ path('projet_delete', {'id': projet.id}) }}">Supprimer</a>
    </div>
{% endfor %}
{% endblock %}
