{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
    <div class="container">
        <h1>Créer votre compte</h1>

    {{ form_errors(registrationForm) }}
        <div class="form"></div>
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email, {'attr': {'placeholder': 'exemple@mail.com'}}) }}
                <div class="name-fields">
                    {{ form_row(registrationForm.nom, {'attr': {'placeholder': 'Snow'}}) }}
                    {{ form_row(registrationForm.prenom, {'attr': {'placeholder': 'John'}}) }}
                </div>
                {{ form_row(registrationForm.plainPassword) }}
                
                <div class="form-check">
                    {{ form_widget(registrationForm.agreeTerms) }}
                    {{ form_label(registrationForm.agreeTerms) }}
                </div>

                <button type="submit" class="btn">Confirmer</button>

                <p>Vous avez déjà un compte? <a href="{{ path('app_login') }}" class="">Connectez-vous!</a></p>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
