{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/categorie.css') }}">
{% endblock %}

{% block title %}Liste de Catégories et Tâches{% endblock %}

{% block body %}
<div class="container">
    <div class="categories">
        {% for categorie in categories %}
            <div class="categorie">
                <h2>{{ categorie.titre }}</h2>
                {% if tachesByCategory[categorie.id] is not empty %}
                    <div class="tasks">
                        {% for tache in tachesByCategory[categorie.id] %}
                            <div class="task">
                                <h3>{{ tache.titre }}</h3>
                                <p>{{ tache.description }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No tasks in this category.</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
    {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('editTitle.js') }}"></script>
{% endblock %}
